.loginInput{
  position: relative;
  @include flex-align;
  justify-content: center;
  margin-bottom: 6px;
  
  &__span{
    position: absolute;
  }
  &__input{
    width: 268px;
    height: 38px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    &:focus-visible{
      outline: none;
    }
    
  }
  &__show{
    position: absolute;
    right: 0;
    font-weight: 600;
  }
}
