$white-600: #fff;
$gray-200: #fafafa;
$gray-300: #dbdbdb;
$gray-400: #c7c7c7;
$gray-500: #8e8e8e;
$DodgerBlue-400:#0095f6;
$DodgerBlue-500:#385185;
$DodgerBlue-600:#385185;

//font-size
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-24: 20px;
$fs-38: 38px;
$fs-42: 42px;
$fs-52: 52px;


$mg-a: auto;
$mg-4: 4px;
$mg-8: 8px;
$mg-12: 12px;
$mg-16: 16px;
$mg-20: 20px;
