$white-600: #fff;
$gray-200: #fafafa;
$gray-300: #dbdbdb;
$gray-400: #c7c7c7;
$gray-500: #8e8e8e;
$DodgerBlue-400:#0095f6;
$DodgerBlue-500:#385185;
$DodgerBlue-600:#385185;

//font-size
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-24: 20px;
$fs-38: 38px;
$fs-42: 42px;
$fs-52: 52px;


$mg-a: auto;
$mg-4: 4px;
$mg-8: 8px;
$mg-12: 12px;
$mg-16: 16px;
$mg-20: 20px;



// $white-600: #EFEFEF;
// $DarkBlue-400: #3D4262;
// $DarkBlue-500: #2B3755;
// $DarkBlue-600: #192444;
// $DarkBlue-500: #3C4262;
// $DodgerBlue-500:#536EF7;
// $DodgerBlue-600:#2945C3;
// $Goldenrod-500: #EDA51D;
// $Goldenrod-600: #C66B19;
// $pink-500: #DB2D4D;
// $pink-600: #9D1732;
// $gray-200: #e3e8ff;
// $gray-300: #dce2ff;
// $gray-400: #BAC0D5;
